body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
  }

p {
    font-size: 18px;
}
header {
    background-color: tan;
    color: black;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-family: Times, Times New Roman, serif;
}

header .brand {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Palatino, URW Palladio L, serif
}

nav ul {
    font-weight: bold;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding: 10px;
}

nav a {
    color: black;
    padding: 15px;
    font-size: 1.3rem;
    text-decoration: none;
}

.aboutMe {
    font-size: 1.3rem;
    padding: 20px;
 }

.aboutMe h1 {
    margin-bottom: 20px;
    font-size: 36px;
}

 .float-left {
    float: left;
    margin-right: 25px;
}

 .work {
    font-size: 1.3rem;
    padding: 20px;
 }

 .myWork {
        margin-bottom: 20px;
        padding: 25px;
        height: 300px;
        background-color: olive;
        color: black;
        font-family: Times, Times New Roman, serif;
        display: flex;
 }
   
 
  footer {
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: tan;
  }
